<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Forgot Password</title>
      <link rel="stylesheet" href="{% static 'lawyerapp/css/bootstrap.min.css'%}" />
      <link rel="stylesheet" href="{% static 'lawyerapp/style.css'%}" />
      <link rel="stylesheet" href="{% static 'lawyerapp/css/responsive.css'%}" />
      <link rel="stylesheet" href="{% static 'lawyerapp/css/custom.css'%}" />
   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="{% static 'lawyerapp/images/logo/logo.png'%}" alt="#" />
                     </div>
                  </div>
                  <div class="login_form">
                     <form action='/forgotpassword' method="POST">
                        {% csrf_token %}
                        <fieldset>
                           <div class="field">
                              <label class="label_field">Email</label>
                              <input type="email" name="email" placeholder="Enter your email" required />
                           </div>
                           <div class="field margin_0">
                              <button type="submit" class="main_bt">Submit</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'lawyerapp/js/jquery.min.js'%}"></script>
      <script src="{% static 'lawyerapp/js/popper.min.js'%}"></script>
      <script src="{% static 'lawyerapp/js/bootstrap.min.js'%}"></script>
   </body>
</html>
