<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Lawyer - Admin Panel</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- site icon -->
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="{% static 'lawyerapp/css/bootstrap.min.css'%}"
    />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'lawyerapp/style.css'%}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'lawyerapp/css/responsive.css'%}" />
    <!-- color css -->
    <link rel="stylesheet" href="{% static 'lawyerapp/css/colors.css'%}" />
    <!-- select bootstrap -->
    <link
      rel="stylesheet"
      href="{% static 'lawyerapp/css/bootstrap-select.css'%}"
    />
    <!-- scrollbar css -->
    <link
      rel="stylesheet"
      href="{% static 'lawyerapp/css/perfect-scrollbar.css'%}"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'lawyerapp/css/custom.css'%}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="dashboard dashboard_1">
    <div class="full_container">
      <div class="inner_container">
        <!-- Sidebar  -->
        {% include 'lawyerapp/sidebar.html' %}
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
          <!-- topbar -->
          {% include 'lawyerapp/top.html' %}
          <!-- end topbar -->
          <!-- dashboard inner -->
          <div
            style="
              display: flex;
              justify-content: left;
              align-items: center;
              height: 40vh;
              margin: 25px;
            "
          >
            <div
              style="
                width: 50%;
                background-color: rgb(222, 228, 231);
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
              "
            >
              {% if form.instance.pk %} Edit Details {% else %} Add New Member
              {% endif %}
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/lawyer" class="btn btn-secondary">Back</a>
              </form>
            </div>
          </div>
          <!-- end dashboard inner -->
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'lawyerapp/js/jquery.min.js'%}"></script>
    <script src="{% static 'lawyerapp/js/popper.min.js'%}"></script>
    <script src="{% static 'lawyerapp/js/bootstrap.min.js'%}"></script>
    <!-- wow animation -->
    <script src="{% static 'lawyerapp/js/animate.js'%}"></script>
    <!-- select country -->
    <script src="{% static 'lawyerapp/js/bootstrap-select.js'%}"></script>
    <!-- owl carousel -->
    <script src="{% static 'lawyerapp/js/owl.carousel.js'%}"></script>
    <!-- chart js -->
    <script src="{% static 'lawyerapp/js/Chart.min.js'%}"></script>
    <script src="{% static 'lawyerapp/js/Chart.bundle.min.js'%}"></script>
    <script src="{% static 'lawyerapp/js/utils.js'%}"></script>
    <script src="{% static 'lawyerapp/js/analyser.js'%}"></script>
    <!-- nice scrollbar -->
    <script src="{% static 'lawyerapp/js/perfect-scrollbar.min.js'%}"></script>
    <script>
      var ps = new PerfectScrollbar("#sidebar");
    </script>
    <!-- custom js -->
    <script src="{% static 'lawyerapp/js/custom.js'%}"></script>
    <script src="{% static 'lawyerapp/js/chart_custom_style1.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
  </body>
</html>
