<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kanun - Law Firm Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Law Firm Website Template" name="keywords">
        <meta content="Law Firm Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'userapp/lib/animate/animate.min.css'%}" rel="stylesheet">
        <link href="{% static 'userapp/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'userapp/css/style.css'%}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            {% include 'userapp/header.html' %}
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Single Page</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Single Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Single Page Start -->
            <div class="single">
                <div class="container">
                    <div class="section-header">
                        <h2>Blogs</h2>
                    </div>
                    <div class="row">
                        {% for i in data %}
                        <div class="col-12">
                            <img class="img-fluid rounded" src="{{i.image.url}}" alt="Image">
                            <h2>{{i.tittle}}</h2>
                            <p>
                                {{i.des}}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Single Page End -->


            <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Subscribe Our Newsletter</h2>
                    </div>
                    <div class="form">
                        <input class="form-control" placeholder="Email here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
            <!-- Newsletter End -->
            {% include 'userapp/footer.html'%}
            
            <a href="#" class="back-to-top" title="Back to top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'userapp/lib/easing/easing.min.js'%}"></script>
        <script src="{% static 'userapp/lib/owlcarousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'userapp/lib/isotope/isotope.pkgd.min.js'%}"></script>
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
